<div class="course-list">
    <h1>List of Courses</h1>
    <div *ngFor="let course of courses" class="course-item">
        <h2>{{ course.title }}</h2>
        <p><strong>Description:</strong> {{ course.description }}</p>
        <p><strong>Teacher:</strong> {{ course.teacher.user.firstName }} {{ course.teacher.user.lastName }}</p>
        <p><strong>School:</strong> {{ course.school.name }}</p>
        <p><strong>Is Free:</strong> {{ course.isFree ? 'Yes' : 'No' }}</p>
        <p><strong>Need to be Registered:</strong> {{ course.needToBeRegistered ? 'Yes' : 'No' }}</p>
    </div>
</div>