<div class="card-container mat-elevation-z2">
    <div class="card-content">
      <div class="card-side">

                <button mat-button  (click)="openProfile('left')">
                    <img src="assets/images/avatars/male-04.jpg" alt="User avatar" class="w-32 h-32 rounded-full ring-4 ring-bg-card clickable-image">
                </button>
                <br>
        <p class="name">Rémi Duplan</p>
        <br>
        <button mat-stroked-button color="primary" (click)="openModify()">
          Modify
        </button>
      </div>
  
      <div class="card-center">
        <p class="sport-name">Sport's name</p>
        <br>
        <div class="score-container">
          <span class="score">4.5</span>
          <span class="score">5.0</span>
        </div>
        <br>
        <div class="dot-container">
          <button mat-fab aria-label="Example icon button with a delete icon" (click)="openModal('dot1')">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-fab aria-label="Example icon button with a delete icon" (click)="openModal('dot2')">
            <mat-icon>map</mat-icon>
          </button>
          <button mat-fab aria-label="Example icon button with a delete icon" (click)="openModal('dot3')">
            <mat-icon>calendar</mat-icon>
          </button>
        </div>
      </div>
  
      <div class="card-side">
        <button mat-button  (click)="openProfile('right')">
          <img src="assets/images/avatars/male-04.jpg" alt="User avatar" class="w-32 h-32 rounded-full ring-4 ring-bg-card clickable-image">
        </button>
        <br>
        <p class="name">Rémi Duplan</p>
        <br>
        <button mat-stroked-button color="primary" (click)="openAccept()">
          Accept
        </button>
      </div>
    </div>
  </div>
  