<div class="card-container mat-elevation-z2">
    <div class="card-content">
      <div class="card-side">
        <button mat-icon-button class="profile-pic" (click)="openProfile('left')">
          <!-- Cercle de gauche -->
        </button>
        <p class="name">Rémi Duplan</p>
        <button mat-stroked-button color="primary" (click)="openModify()">
          Modify
        </button>
      </div>
  
      <div class="card-center">
        <p class="sport-name">Sport's name</p>
        <div class="score-container">
          <span class="score">4.5</span>
          <span class="score">5.0</span>
        </div>
        <div class="dot-container">
          <button mat-icon-button color="primary" (click)="openModal('dot1')" class="dot"></button>
          <button mat-icon-button color="primary" (click)="openModal('dot2')" class="dot"></button>
          <button mat-icon-button color="warn" (click)="openModal('dot3')" class="dot"></button>
        </div>
      </div>
  
      <div class="card-side">
        <button mat-icon-button class="profile-pic" (click)="openProfile('right')">
          <!-- Cercle de droite -->
        </button>
        <p class="name">Rémi Duplan</p>
        <button mat-stroked-button color="primary" (click)="openAccept()">
          Accept
        </button>
      </div>
    </div>
  </div>
  