
            <!-- Post 3 -->
            <fuse-card class="flex flex-col max-w-140 w-full mt-8">
                <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                    <img
                        class="w-10 h-10 rounded-full mr-4"
                        src="assets/images/avatars/female-14.jpg"
                        alt="Card cover image">
                    <div class="flex flex-col">
                        <span class="font-semibold leading-none">Marleah Eagleston</span>
                        <span class="text-sm text-secondary leading-none mt-1">29 minutes ago</span>
                    </div>
                    <button
                        class="ml-auto -mr-4"
                        mat-icon-button
                        [matMenuTriggerFor]="postCardMenu04">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #postCardMenu04="matMenu">
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 mr-3"
                                    [svgIcon]="'heroicons_solid:save'"></mat-icon>
                                <span>Save post</span>
                            </span>
                        </button>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 mr-3"
                                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                                <span>Hide post</span>
                            </span>
                        </button>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 mr-3"
                                    [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                <span>Snooze for 30 days</span>
                            </span>
                        </button>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 mr-3"
                                    [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                <span>Hide all</span>
                            </span>
                        </button>
                        <mat-divider class="my-2"></mat-divider>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 mr-3"
                                    [svgIcon]="'heroicons_solid:exclamation'"></mat-icon>
                                <span>Report post</span>
                            </span>
                        </button>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon
                                    class="icon-size-5 mr-3"
                                    [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                                <span>Turn on notifications for this post</span>
                            </span>
                        </button>
                    </mat-menu>
                </div>
                <div class="mx-6 sm:mx-8 mt-2 mb-6">
                    Look at that sky! I so want to be there.. Can we arrange a trip? Is that a possibility? Please!!!
                </div>
                <div class="flex mx-6 sm:mx-8 mb-4">
                    <div class="flex h-80 pr-1">
                        <img
                            class="rounded object-cover"
                            src="assets/images/cards/17-640x480.jpg"
                            alt="Card cover image">
                    </div>
                    <div class="flex flex-col pl-1">
                        <div class="flex h-40 pb-1">
                            <img
                                class="rounded object-cover"
                                src="assets/images/cards/18-640x480.jpg"
                                alt="Card cover image">
                        </div>
                        <div class="flex h-40 pt-1">
                            <img
                                class="rounded object-cover"
                                src="assets/images/cards/19-640x480.jpg"
                                alt="Card cover image">
                        </div>
                    </div>
                </div>
                <div class="flex items-center mx-3 sm:mx-5">
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5 text-red-500 mr-2"
                            [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                        <span>Unlike</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5 mr-2"
                            [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                        <span>Comment</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5 mr-2"
                            [svgIcon]="'heroicons_solid:share'"></mat-icon>
                        <span>Share</span>
                    </button>
                </div>
                <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
                <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                    <div class="flex items-center">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"
                            src="assets/images/avatars/female-02.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/female-04.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-09.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-07.jpg"
                            alt="Card cover image">
                        <div class="text-md tracking-tight ml-3">You and 24 more liked this</div>
                    </div>
                    <div class="hidden sm:flex flex-auto"></div>
                    <div class="flex items-center mt-4 sm:mt-0">
                        <button
                            class="px-3 mr-1 -ml-2 sm:ml-0"
                            mat-button>
                            4 shares
                        </button>
                        <button
                            class="px-3 sm:-mr-3"
                            mat-button>
                            No comments
                        </button>
                    </div>
                </div>
            </fuse-card>