<div *ngIf="sport" class="sport-details">
    <h2>{{ sport.spTitreFr }}</h2>
    <img [src]="sport.iconGrand" alt="{{ sport.spTitreFr }} icon" class="sport-icon">
    <p><strong>Code:</strong> {{ sport.code }}</p>
    <p><strong>Category:</strong> {{ sport.categorie }}</p>
    <p><strong>Title (EN):</strong> {{ sport.spTitreEn }}</p>
    <p><strong>Title (POR):</strong> {{ sport.spTitrePor }}</p>
    <p><strong>Title (KO):</strong> {{ sport.spTitreKo }}</p>
    <p><strong>Title (JP):</strong> {{ sport.spTitreJp }}</p>
    <p><strong>Title (ES):</strong> {{ sport.spTitreEs }}</p>
    <p><strong>Title (RU):</strong> {{ sport.spTitreRu }}</p>
    <p><strong>Title (IND):</strong> {{ sport.spTitreInd }}</p>
    <p><strong>Title (POL):</strong> {{ sport.spTitrePol }}</p>
    <p><strong>Title (ITA):</strong> {{ sport.spTitreIta }}</p>
    <p><strong>Created:</strong> {{ sport.dateCreation | date }}</p>
    <p><strong>Updated:</strong> {{ sport.dateMiseAJour | date }}</p>
</div>