.container {
    display: flex;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
  
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  
  .left-section {
    flex: 2;
    max-width: 40%;
    overflow-y: auto;
    padding-right: 10px;
    box-sizing: border-box;
  
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }
  
  .right-section {
    flex: 3;
    max-width: 60%;
    overflow-y: auto;
    padding-left: 10px;
    box-sizing: border-box;
  
    @media (max-width: 768px) {
      max-width: 100%;
    }
  }